.keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: green;
}

.operator {
    -fx-fill: orangered;
}

.comment {
    -fx-fill: lightgrey;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
